@inherits LayoutComponentBase

<main class="Container-special ">
    <div class="row align-items-center justify-content-center min-vh-100 gx-0">
        @Body
    </div>
</main>
<style>
    .Container-special{
        background-image: linear-gradient(180deg,#003323 0%, #00760a 90%);
     
    }
</style>