<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid ">
        <a class="navbar-brand" href="client-home"> Green Taxi</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="add-trip">
                <i class="bi bi-car-front-fill icon" aria-hidden="true"></i> Get Trip
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="client-history">
                <i class="bi bi-file-text-fill icon"></i>History
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="profile">
                <span class="bi bi-person icon" aria-hidden="true"></span> Profile
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu() {
        collapseNavMenu = !collapseNavMenu;
    }
}
