.page-content {
    display: flexbox;
    flex-direction:column;
   
}
.profile{
    display: flexbox ;
    flex-direction: row ;
    align-items: center ;
    justify-content: center ;
    margin-bottom: 50px;
 

}
.content {
    display: flex;
    flex-direction: column;
}
