<h1>
    Invoice
</h1>
<div> 
<h3>Driver Name: </h3>
<label> @trip.Driver</label>
<h3> Client Name</h3>
<label> @trip.Client</label>

<h3> Price </h3>
<label> </label>
</div>

@code {
    private Trip trip;
}
