@page "/weather"
@inject HttpClient Http

<PageTitle>Weather</PageTitle>

<h1>Weather</h1>

<p>This component demonstrates fetching data from the server.</p>


<GreenLebanon.Taxi.Web.Pages.Admin.Dashboard 
    Labels='new[] {"Red", "Blue", "Yellow"} '
    Data="new[] { 300, 50, 100 }"
   
    Title="Trips in Cities" />


@code {
    
}
